<h1>投稿一覧</h1>
<%= form_tag notes_path, method:'get' do %>
  <%= text_field_tag :word, @search_word , class: "form-control title-field" %>
  <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :name, @user_key), :include_blank => true %>
  <%= submit_tag "検索", class: "btn primary-btn" %>
  <% end %> 
  
<%= page_entries_info @notes %>
<ul class="notes">
  <% @notes.each do |note| %>
    <li>
      <p>タイトル</p>
      <span class="content">
        <%= link_to note.title, note_path(note.id) %>
        <% if note.category != nil %>
          <%= note.category.name  %>
        <% end %>  
        <%= note.user.name%>
        <% if current_user != nil && current_user.id == note.user_id  %>
          <%= link_to "編集", edit_note_path(note.id), class: "btn edit-btn" %>     
          <%= link_to "削除", note_path(note.id), method:"delete", class: "btn edit-btn" %>    
        <% end %>
      </span>
    </li>
  <% end %>
<%= paginate @notes %>
</ul>
