<h1>投稿一覧</h1>
<%= page_entries_info @notes %>
<ul class="notes">
  <% @notes.each do |note| %>
    <li>
      <p>タイトル</p>
      <span class="content">
        <%= link_to note.title, note_path(note.id) %>
      
      <%= note.category_id  %>
        
        <%= link_to "編集", edit_note_path(note.id), class: "btn edit-btn" %>     
	<%= link_to "削除", note_path(note.id), method:"delete", class: "btn edit-btn" %>    
      </span>
    </li>
  <% end %>
<%= paginate @notes %>

</ul>
