<h1>新規投稿</h1>
<%= form_tag notes_path(@note.id), method: 'post' do %> 
  <% if @note.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @note.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @note.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      </ul>
    </div>
  <% end %>

  タイトル
  <%= text_field_tag :title, @note.title, class: "form-control title-field" %>
  内容
  <%= text_area_tag :content, @note.content, class: "form-control content-field" %>
  カテゴリ
  <%= select_tag :category_id, options_from_collection_for_select(Category.where("user_id = ?",current_user.id), :id, :name), :prompt => "カテゴリを選択してください" %>
  <%= submit_tag "投稿する", class: "btn primary-btn" %>
<% end %>

