
<p id=notice>
<%= notice  %>
</p>

<h2>タイトル</h2>
<p><%= @note.title %></p>
<h2>カテゴリ</h2>
<% if @note.category != nil %>
  <p><%= @note.category.name %></p>
<% end %>
<h2>記事内容</h2>
<p><%= @note.content %></p>

<% if current_user.id == @note.user_id  %>
  <%= link_to "編集", edit_note_path(@note.id), class: "btn edit-btn" %>
  <%= link_to "削除", note_path(@note.id), method:"delete", class: "btn edit-btn" %> 
<% end %>
