<div class="row">
  <div class="col-sm-11 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title"><%= @note.title %></h2>
      <p class="blog-post-meta">
        <%= @note.updated_at %>
        by<a><%= @note.user.name%></a><br>
        Category:<%= @note.category.name%> 
      </p>
      <p><%= simple_format(@note.content) %></p>
    </div><!-- /.blog-post -->
    <% if @note.image? %>
      <%= @note.image %><br>
      <%= image_tag @note.image.url %> 
    <% end %><br>
    <% if current_user != nil && current_user.id == @note.user_id %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_note_path(@note), :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        note_path(@note),
        :method => 'delete',
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-danger' %>
     <% end %>
     <%= link_to t('.back', :default => t("helpers.links.back")),notes_path, :class => 'btn btn-default'  %>
  </div><!-- /.blog-main -->
</div>
